<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <!-- Semana 01 -->
    <servlet>
        <servlet-name>Ejercicio01Servlet</servlet-name>
        <servlet-class>com.zonajava.semana01.Ejercicio01Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio01Servlet</servlet-name>
        <url-pattern>/Semanas/semana01/calcular01</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ejercicio02Servlet</servlet-name>
        <servlet-class>com.zonajava.semana01.Ejercicio02Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio02Servlet</servlet-name>
        <url-pattern>/Semanas/semana01/calcular02</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ejercicio03Servlet</servlet-name>
        <servlet-class>com.zonajava.semana01.Ejercicio03Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio03Servlet</servlet-name>
        <url-pattern>/Semanas/semana01/calcular03</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ejercicio04Servlet</servlet-name>
        <servlet-class>com.zonajava.semana01.Ejercicio04Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio04Servlet</servlet-name>
        <url-pattern>/Semanas/semana01/calcular04</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ejercicio05Servlet</servlet-name>
        <servlet-class>com.zonajava.semana01.Ejercicio05Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio05Servlet</servlet-name>
        <url-pattern>/Semanas/semana01/calcular05</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ejercicio06Servlet</servlet-name>
        <servlet-class>com.zonajava.semana01.Ejercicio06Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio06Servlet</servlet-name>
        <url-pattern>/Semanas/semana01/calcular06</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ejercicio07Servlet</servlet-name>
        <servlet-class>com.zonajava.semana01.Ejercicio07Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio07Servlet</servlet-name>
        <url-pattern>/Semanas/semana01/calcular07</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ejercicio08Servlet</servlet-name>
        <servlet-class>com.zonajava.semana01.Ejercicio08Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio08Servlet</servlet-name>
        <url-pattern>/Semanas/semana01/calcular08</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ejercicio09Servlet</servlet-name>
        <servlet-class>com.zonajava.semana01.Ejercicio09Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio09Servlet</servlet-name>
        <url-pattern>/Semanas/semana01/calcular09</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ejercicio10Servlet</servlet-name>
        <servlet-class>com.zonajava.semana01.Ejercicio10Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio10Servlet</servlet-name>
        <url-pattern>/Semanas/semana01/calcular10</url-pattern>
    </servlet-mapping>
    <!-- Semana 02 -->
    <servlet>
        <servlet-name>Ejercicio01ServletS2</servlet-name>
        <servlet-class>com.zonajava.semana02.Ejercicio01Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio01ServletS2</servlet-name>
        <url-pattern>/Semanas/semana02/calcular01</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ejercicio02ServletS2</servlet-name>
        <servlet-class>com.zonajava.semana02.Ejercicio02Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio02ServletS2</servlet-name>
        <url-pattern>/Semanas/semana02/calcular02</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ejercicio03ServletS2</servlet-name>
        <servlet-class>com.zonajava.semana02.Ejercicio03Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio03ServletS2</servlet-name>
        <url-pattern>/Semanas/semana02/calcular03</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ejercicio04ServletS2</servlet-name>
        <servlet-class>com.zonajava.semana02.Ejercicio04Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio04ServletS2</servlet-name>
        <url-pattern>/Semanas/semana02/calcular04</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ejercicio05ServletS2</servlet-name>
        <servlet-class>com.zonajava.semana02.Ejercicio05Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio05ServletS2</servlet-name>
        <url-pattern>/Semanas/semana02/calcular05</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ejercicio06ServletS2</servlet-name>
        <servlet-class>com.zonajava.semana02.Ejercicio06Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio06ServletS2</servlet-name>
        <url-pattern>/Semanas/semana02/calcular06</url-pattern>
    </servlet-mapping>
    <!-- Semana 03 -->
    <servlet>
        <servlet-name>Ejercicio01ServletS3</servlet-name>
        <servlet-class>com.zonajava.semana03.Ejercicio01Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio01ServletS3</servlet-name>
        <url-pattern>/Semanas/semana03/calcular01</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ejercicio02ServletS3</servlet-name>
        <servlet-class>com.zonajava.semana03.Ejercicio02Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio02ServletS3</servlet-name>
        <url-pattern>/Semanas/semana03/calcular02</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ejercicio03ServletS3</servlet-name>
        <servlet-class>com.zonajava.semana03.Ejercicio03Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio03ServletS3</servlet-name>
        <url-pattern>/Semanas/semana03/calcular03</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ejercicio04ServletS3</servlet-name>
        <servlet-class>com.zonajava.semana03.Ejercicio04Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio04ServletS3</servlet-name>
        <url-pattern>/Semanas/semana03/calcular04</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ejercicio05ServletS3</servlet-name>
        <servlet-class>com.zonajava.semana03.Ejercicio05Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio05ServletS3</servlet-name>
        <url-pattern>/Semanas/semana03/calcular05</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ejercicio06ServletS3</servlet-name>
        <servlet-class>com.zonajava.semana03.Ejercicio06Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio06ServletS3</servlet-name>
        <url-pattern>/Semanas/semana03/calcular06</url-pattern>
    </servlet-mapping>
    <!-- Semana 04 -->
    <servlet>
        <servlet-name>Ejercicio01ServletS4</servlet-name>
        <servlet-class>com.zonajava.semana04.Ejercicio01Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio01ServletS4</servlet-name>
        <url-pattern>/Semanas/semana04/calcular01</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ejercicio02ServletS4</servlet-name>
        <servlet-class>com.zonajava.semana04.Ejercicio02Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio02ServletS4</servlet-name>
        <url-pattern>/Semanas/semana04/calcular02</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ejercicio03ServletS4</servlet-name>
        <servlet-class>com.zonajava.semana04.Ejercicio03Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio03ServletS4</servlet-name>
        <url-pattern>/Semanas/semana04/calcular03</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ejercicio04ServletS4</servlet-name>
        <servlet-class>com.zonajava.semana04.Ejercicio04Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio04ServletS4</servlet-name>
        <url-pattern>/Semanas/semana04/calcular04</url-pattern>
    </servlet-mapping>
    <!-- Semana 05 -->
    <servlet>
        <servlet-name>Ejercicio01ServletS5</servlet-name>
        <servlet-class>com.zonajava.semana05.Ejercicio01Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio01ServletS5</servlet-name>
        <url-pattern>/Semanas/semana05/calcular01</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ejercicio02ServletS5</servlet-name>
        <servlet-class>com.zonajava.semana05.Ejercicio02Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio02ServletS5</servlet-name>
        <url-pattern>/Semanas/semana05/calcular02</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ejercicio03ServletS5</servlet-name>
        <servlet-class>com.zonajava.semana05.Ejercicio03Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio03ServletS5</servlet-name>
        <url-pattern>/Semanas/semana05/calcular03</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ejercicio04ServletS5</servlet-name>
        <servlet-class>com.zonajava.semana05.Ejercicio04Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio04ServletS5</servlet-name>
        <url-pattern>/Semanas/semana05/calcular04</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ejercicio05ServletS5</servlet-name>
        <servlet-class>com.zonajava.semana05.Ejercicio05Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio05ServletS5</servlet-name>
        <url-pattern>/Semanas/semana05/calcular05</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ejercicio06ServletS5</servlet-name>
        <servlet-class>com.zonajava.semana05.Ejercicio06Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio06ServletS5</servlet-name>
        <url-pattern>/Semanas/semana05/calcular06</url-pattern>
    </servlet-mapping>
    <!-- Semana 06 -->
    <servlet>
        <servlet-name>Ejercicio01ServletS6</servlet-name>
        <servlet-class>com.zonajava.semana06.Ejercicio01Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio01ServletS6</servlet-name>
        <url-pattern>/Semanas/semana06/calcular01</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ejercicio02ServletS6</servlet-name>
        <servlet-class>com.zonajava.semana06.Ejercicio02Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio02ServletS6</servlet-name>
        <url-pattern>/Semanas/semana06/calcular02</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ejercicio03ServletS6</servlet-name>
        <servlet-class>com.zonajava.semana06.Ejercicio03Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio03ServletS6</servlet-name>
        <url-pattern>/Semanas/semana06/calcular03</url-pattern>
    </servlet-mapping>
    <!-- Semana 07 -->
    <servlet>
        <servlet-name>Ejercicio01ServletS7</servlet-name>
        <servlet-class>com.zonajava.semana07.Ejercicio01Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio01ServletS7</servlet-name>
        <url-pattern>/Semanas/semana07/calcular01</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ejercicio02ServletS7</servlet-name>
        <servlet-class>com.zonajava.semana07.Ejercicio02Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio02ServletS7</servlet-name>
        <url-pattern>/Semanas/semana07/calcular02</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ejercicio03ServletS7</servlet-name>
        <servlet-class>com.zonajava.semana07.Ejercicio03Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio03ServletS7</servlet-name>
        <url-pattern>/Semanas/semana07/calcular03</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ejercicio04ServletS7</servlet-name>
        <servlet-class>com.zonajava.semana07.Ejercicio04Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio04ServletS7</servlet-name>
        <url-pattern>/Semanas/semana07/calcular04</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ejercicio05ServletS7</servlet-name>
        <servlet-class>com.zonajava.semana07.Ejercicio05Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio05ServletS7</servlet-name>
        <url-pattern>/Semanas/semana07/calcular05</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ejercicio06ServletS7</servlet-name>
        <servlet-class>com.zonajava.semana07.Ejercicio06Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio06ServletS7</servlet-name>
        <url-pattern>/Semanas/semana07/calcular06</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ejercicio07ServletS7</servlet-name>
        <servlet-class>com.zonajava.semana07.Ejercicio07Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio07ServletS7</servlet-name>
        <url-pattern>/Semanas/semana07/calcular07</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ejercicio08ServletS7</servlet-name>
        <servlet-class>com.zonajava.semana07.Ejercicio08Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio08ServletS7</servlet-name>
        <url-pattern>/Semanas/semana07/calcular08</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ejercicio09ServletS7</servlet-name>
        <servlet-class>com.zonajava.semana07.Ejercicio09Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio09ServletS7</servlet-name>
        <url-pattern>/Semanas/semana07/calcular09</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Ejercicio10ServletS7</servlet-name>
        <servlet-class>com.zonajava.semana07.Ejercicio10Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio10ServletS7</servlet-name>
        <url-pattern>/Semanas/semana07/calcular10</url-pattern>
    </servlet-mapping>
    <!-- Semana 08 -->
    <servlet>
        <servlet-name>EjerciciosServletS8</servlet-name>
        <servlet-class>com.zonajava.semana08.EjerciciosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EjerciciosServletS8</servlet-name>
        <url-pattern>/Semanas/semana08/calcular</url-pattern>
    </servlet-mapping>
    <!-- ==================== SEMANA 09 ==================== -->
    <!-- Ejercicios Math - Un solo Servlet para ambos ejercicios -->
    <servlet>
        <servlet-name>EjerciciosServletS9</servlet-name>
        <servlet-class>com.zonajava.semana09.EjerciciosServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EjerciciosServletS9</servlet-name>
        <url-pattern>/Semanas/semana09/calcular</url-pattern>
    </servlet-mapping>
    <!-- ==================== SEMANA 10 ==================== -->
    <!-- Ejercicio 01: Conversor Trigonométrico -->
    <servlet>
        <servlet-name>EjerciciosServlet01S10</servlet-name>
        <servlet-class>com.zonajava.semana10.EjerciciosServlet01</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EjerciciosServlet01S10</servlet-name>
        <url-pattern>/Semanas/semana10/calcular01</url-pattern>
    </servlet-mapping>
    <!-- Ejercicio 02: Sistema Anti-Desbordamiento -->
    <servlet>
        <servlet-name>EjerciciosServlet02S10</servlet-name>
        <servlet-class>com.zonajava.semana10.EjerciciosServlet02</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EjerciciosServlet02S10</servlet-name>
        <url-pattern>/Semanas/semana10/calcular02</url-pattern>
    </servlet-mapping>
    <!-- ==================== SEMANA 11 ==================== -->
    <!-- Ejercicio 01: Interés Compuesto Continuo -->
    <servlet>
        <servlet-name>Ejercicio01ServletS11</servlet-name>
        <servlet-class>com.zonajava.semana11.Ejercicio01Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio01ServletS11</servlet-name>
        <url-pattern>/Semanas/semana11/calcular01</url-pattern>
    </servlet-mapping>
    <!-- Ejercicio 02: Distancia Euclidiana -->
    <servlet>
        <servlet-name>Ejercicio02ServletS11</servlet-name>
        <servlet-class>com.zonajava.semana11.Ejercicio02Servlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ejercicio02ServletS11</servlet-name>
        <url-pattern>/Semanas/semana11/calcular02</url-pattern>
    </servlet-mapping>
    <!-- ... todo tu código actual de semanas ... -->

    <!-- ===== LOGIN SYSTEM ===== -->
    
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.zonajava.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.zonajava.servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <servlet-class>com.zonajava.servlets.ChangePasswordServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChangePasswordServlet</servlet-name>
        <url-pattern>/ChangePasswordServlet</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

    <!-- Admin Servlets -->
    <servlet>
        <servlet-name>AdminConfigServlet</servlet-name>
        <servlet-class>com.zonajava.servlets.AdminConfigServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminConfigServlet</servlet-name>
        <url-pattern>/AdminConfigServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminSemanasServlet</servlet-name>
        <servlet-class>com.zonajava.servlets.AdminSemanasServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminSemanasServlet</servlet-name>
        <url-pattern>/AdminSemanasServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AdminEstadisticasServlet</servlet-name>
        <servlet-class>com.zonajava.servlets.AdminEstadisticasServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminEstadisticasServlet</servlet-name>
        <url-pattern>/AdminEstadisticasServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RegistrarVisitaServlet</servlet-name>
        <servlet-class>com.zonajava.servlets.RegistrarVisitaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrarVisitaServlet</servlet-name>
        <url-pattern>/RegistrarVisitaServlet</url-pattern>
    </servlet-mapping>
    
</web-app>